.configuration {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    flex: 1;
    margin-top: 1em;
}

.configuration-header {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
}

.section {
    flex: 2;
    padding: 0.2em;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0.1em;
    border-radius: 5px;
    border: 3px solid rebeccapurple;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    font-size: x-large;
    vertical-align: center;
    user-select: none;
}

.separator {
    flex: 1;
}

.radio-group {
    border-bottom: 2px solid #ccc;
}

.selected {
    background-color: rebeccapurple;
    color: white;
    border: 3px solid mediumpurple;
}